include:
  - project: 'Bigouden/gitlab-ci-templates'
    file: '.gitlab-ci-docker.yml'

variables:
  CONTAINER_CLIENT_IMAGE: alpine:latest

stages:
  - Quality
  - Build
  - Security
  - Inspect
  - Release
  - Clean
